<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @burrito.headline %>
</p>

<p>
  <b>Story:</b>
  <%= @burrito.story %>
</p>

<p>
  <b>Creator:</b>
  <%= @burrito.creator_id %>
</p>


<%= link_to 'Edit', edit_burrito_path(@burrito) %> |
<%= link_to 'Back', burritos_path %>
