<%= form_for(@#{@underscored_model}, :url => #{@underscored_model}s_path) do |f| %>
  <% if @#{@underscored_model}.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@#{@underscored_model}.errors.count, "error") %> prohibited this #{@underscored_model} from being saved:</h2>

      <ul>
      <% @#{@underscored_model}.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :story %><br />
    <%= f.text_area :story %>
  </div>
  <div class="field">
    <%= f.label :creator_id %><br />
    <%= f.text_field :creator_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
