<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @UnderscoredModel.headline %>
</p>

<p>
  <b>Story:</b>
  <%= @UnderscoredModel.story %>
</p>

<p>
  <b>Creator:</b>
  <%= @UnderscoredModel.creator_id %>
</p>


<%= link_to 'Edit', edit_UnderscoredModel_path(@UnderscoredModel) %> |
<%= link_to 'Back', UnderscoredModels_path %>
