<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @taco.headline %>
</p>

<p>
  <b>Story:</b>
  <%= @taco.story %>
</p>

<p>
  <b>Creator:</b>
  <%= @taco.creator_id %>
</p>


<%= link_to 'Edit', edit_taco_path(@taco) %> |
<%= link_to 'Back', tacos_path %>
