<p id="notice"><%= notice %></p>

<p>
  <b>Headline:</b>
  <%= @blurb.headline %>
</p>

<p>
  <b>Story:</b>
  <%= @blurb.story %>
</p>

<p>
  <b>Creator:</b>
  <%= @blurb.creator_id %>
</p>


<%= link_to 'Edit', edit_blurb_path(@blurb) %> |
<%= link_to 'Back', blurbs_path %>
